body {
    background: #fff;
    color: #000000;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 100;
}
main {
    border: 1px solid #BFBFBF;
    border-top: 1px solid #808080;
}


button {
    border-radius: 0;
    padding: 3px 6px;
    border: 0;
    background-color: #fff;
    color: #0433FF;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   font-size: 1rem;
}

button:focus {
    outline: 0;
}


button:hover {
    cursor: pointer;
}

input[type='text']:focus {
    outline: 1px solid #0076FF;
}

input[type='checkbox'] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 100%;
    border-left: 1px solid #BFBFBF;
}

.btns {
    border-top: 1px solid #BFBFBF;
}

.list-header {
    margin: 0;
    padding: 5px;
    background-color: #BEC0BF;
    font-size: 1.75rem;
}

.list-item:nth-child(odd) {
    background-color: #EFEFEF;
}
.list-item:not(:first-child){
    border-top: #BFBFBF 1px solid;
}
.list-item input {
    margin-right: 10px;
}

.list-item label {
    text-transform: capitalize;
    position: relative;
    padding: 7px 12px;
    display: inline-block;
}

.list-item {
    -webkit-user-select: none;
    position: relative;
}

.list-item label:hover {
    cursor: pointer;
    color: #0076FF;
}

.list-item:nth-child(1) {
    display: none;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    background: rgba(0,0,0,.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
}

.modal.active {
    display: block;
}

.modal-inner {
    background: #fff;
    position: absolute;
    width: 50%;
    min-height: 300px;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
}

.add-item-form {
    padding: 15px;
}

.add-item-name,
.add-item-desc{
    box-sizing: border-box;
    border: 1px solid #84888D;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 1rem;
}

.add-item-name{
    width: 100%;
    height: 40px;
}
.add-item-desc{
    resize: none;
    width: 100%;
    height: 107px;
}

.add-item-save{
    width: 100%;
    box-sizing: border-box;
    background-color: #175778;
    color: #fff;
    padding: 10px;
}

.close-btn {
    background: transparent;
    border: 0;
    height: 20px;
    overflow: hidden;
    padding-top: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    color: #CF2716;
    opacity: 1;
}

.close-btn:hover {
    cursor: pointer;
}

.close-btn::after {
    -webkit-transform: rotate(45deg);
    background: currentColor;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 50%;
    top: 0;
    width: 3px;
}


.close-btn::before {
    -webkit-transform: rotate(-45deg);
    background: currentColor;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    right: 50%;
    top: 0;
    width: 3px;
}

.add-item-modal .add-item-label {
    display: block;
    margin-bottom: 5px;
}

.add-item-header, 
.view-item-name{
    font-size: 1.25rem;
    border-bottom: 1px solid #000;
    margin: 0;
    padding: 10px;
}

.view-item-desc {
    padding: 15px;
}
